doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Introduction into TypeScript

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')

  body

    article

      section
        h2 Introduction into
        h1 <a href="http://www.typescriptlang.org">TypeScript</a>
        h3 Geek Gathering #6 - 15th October 2014

      section
        h1.bullet WHY ?
        h3.bullet
          img(src="https://imagery.pragprog.com/products/59/tpp_xlargecover.jpg?1339433898" align="middle" height="50")
          span &nbsp; &nbsp; Learn a new language every year <a href="https://pragprog.com/the-pragmatic-programmer"><i class="fa fa-external-link"></i></a>
        h3.bullet
          img(src="https://pbs.twimg.com/profile_images/66432812/eg2_400x400.gif" height="50" align="middle")
          span &nbsp; &nbsp; Surviving Application Scale JavaScript - TypeScript in the Trenches <a href="http://channel9.msdn.com/Events/Build/2014/3-583"><i class="fa fa-external-link"></i></a>

      section
        p
          img(src="https://pbs.twimg.com/profile_images/66432812/eg2_400x400.gif" height="42")
          cite &nbsp;Surviving Application Scale JavaScript
        img(src="images/Gamma_1.png" height="80%")

      section
        p
          img(src="https://pbs.twimg.com/profile_images/66432812/eg2_400x400.gif" height="42")
          cite &nbsp;Surviving Application Scale JavaScript
        img(src="images/Gamma_2.png" height="80%")

      section
        p
          img(src="https://pbs.twimg.com/profile_images/66432812/eg2_400x400.gif" height="42")
          cite &nbsp;Surviving Application Scale JavaScript
        img(src="images/Gamma_3.png" height="80%")

      section
        h1 <a href="http://www.typescriptlang.org">TypeScript</a>
        h3.bullet <i>TypeScript is a typed superset of JavaScript that compiles to plain JavaScript.</i>
        h3.bullet Any browser. Any host. Any OS. Open Source.

      section
        h2 Static typing and type inference

      section.code-play
        iframe(src="http://repl.it/1YB/1" scrolling="no")

      section.code-play
        iframe(src="http://www.typescriptlang.org/Playground#src=" scrolling="no")

      section
        h2 Classes

      section.code-play
        iframe(src="http://www.typescriptlang.org/Playground#src=class%20Greeter%20%7B%0A%20%20%20%0A%7D%0A%0Avar%20greeter%20%3D%20new%20Greeter()%3B%0A" scrolling="no")

      section
        h2 Interface

      section.code-play
        iframe(src="http://www.typescriptlang.org/Playground#src=" scrolling="no")

      section
        h2 Modules
        h3 internal and external

      section
        h2 Internal Modules

      section(data-bespoke-state="main-title")
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);


      section
        h1 <i class="fa fa-comments"></i> <i class="fa fa-question-circle"></i> <i class="fa fa-thumbs-up"></i> <i class="fa fa-thumbs-down"></i>



    script(src='build/build.js')
